<h2>{{ pageTitle }}</h2>
<form [formGroup]="form">
  <fieldset>
    <div>
      <label for="fullName">Full Name</label>
      <input
        id="fullName"
        name="fullName"
        type="text"
        formControlName="fullName"
      />
      <app-form-error
        [hasErrorMessage]="hasErrorMessage('fullName')"
        [errorMessage]="getErrorMessage('fullName')"
      ></app-form-error>
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" name="email" type="email" formControlName="email" />
      <app-form-error
        [hasErrorMessage]="hasErrorMessage('email')"
        [errorMessage]="getErrorMessage('email')"
      ></app-form-error>
    </div>
    <div>
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        formControlName="password"
      />
      <app-form-error
        [hasErrorMessage]="hasErrorMessage('password')"
        [errorMessage]="getErrorMessage('password')"
      ></app-form-error>
    </div>
    <div>
      <label for="repeatedPassword">Repeat Password</label>
      <input
        id="repeatedPassword"
        name="repeatedPassword"
        type="password"
        formControlName="repeatedPassword"
      />
      <app-form-error
        [hasErrorMessage]="hasErrorMessage('repeatedPassword')"
        [errorMessage]="getErrorMessage('repeatedPassword')"
      ></app-form-error>
    </div>
    <div>
      <label for="acceptedTerms">Accept Terms</label>
      <input
        id="acceptedTerms"
        name="acceptedTerms"
        type="checkbox"
        formControlName="acceptedTerms"
      />
      <span *ngIf="hasErrorMessage('acceptedTerms')">{{
        getErrorMessage("acceptedTerms")
      }}</span>
    </div>
  </fieldset>
  <button (click)="onRegister()" [disabled]="form.invalid">Register me</button>
</form>

<pre>{{ form.value | json }}</pre>
